// ********** Variables ****************

$background: hsl(40, 13%, 62%);
$color-1: hsl(360, 79%, 48%);
$color-2: hsl(32, 100%, 52%);
$color-3: hsl(48, 100%, 54%);
$color-4: hsl(86, 67%, 52%);
$color-5: hsl(169, 69%, 44%);
$color-6: hsl(241, 100%, 63%);
$color-7: hsl(264, 72%, 52%);
$inset: inset 0 0 0;

// ********** Mixins *******************

@mixin after($padding: 100%) {
  &::after {
    display: block;
    padding-bottom: $padding;
    content: '';
  }
}

// ********** Base *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: $background;
}

// ********** Rainbow ******************

#rainbow {
  @include after($padding: 50%);

  position: relative;
  width: min(150vh, 90vw);
  overflow: hidden;
  :nth-child(1) {
    @include after();

    position: absolute;
    width: 100%;
    font-size: min(3.57vw, 5.9vh);
    background: transparent;
    border-radius: 50%;
    box-shadow:
      $inset 0.5em $color-1,
      $inset 1em $color-2,
      $inset 1.5em $color-3,
      $inset 2em $color-4,
      $inset 2.5em $color-5,
      $inset 3em $color-6,
      $inset 3.5em $color-7;
  }
}

// Adds a paperlike texture to the screen.

html::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: '';
  background: url('../images/noise.jpg');
  opacity: 0.05;
}
