body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

main {
  position: relative;
  width: min(135vh, 100vw);
  aspect-ratio: 3/2;
  overflow: hidden;
}

img {
  opacity: 0;
}

%image {
  position: absolute;
  width: 100%;
  height: auto;
}

#placeholder {
  @extend %image;

  opacity: 1;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#main-image {
  @extend %image;
}

.async-image,
.full-image {
  transition: opacity 0.5s ease-in-out;
}

.full-image {
  opacity: 1;
}
