body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center;
}

main {
  aspect-ratio: 3/2;
  overflow: hidden;
  position: relative;
  width: min(135vh, 100vw);
}

img {
  opacity: 0;
}

%image {
  height: auto;
  position: absolute;
  width: 100%;
}

#placeholder {
  @extend %image;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  opacity: 1;
}

#main-image {
  @extend %image;
}

.async-image,
.full-image {
  transition: opacity 0.5s ease-in-out;
}

.full-image {
  opacity: 1;
}
