* {
  margin: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: hsl(150, 4%, 11%);
  color: hsl(0, 0%, 98%);
  height: 100vh;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  display: inline-block;
  width: 22%;
}

#count {
  max-width: 88%;
  margin: 150vh auto;
  text-align: center;
}

#answer {
  position: fixed;
  top: 2.5rem;
  width: 100vw;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

#btn {
  position: fixed;
  bottom: 0;
  margin: 3em calc(50vw - 4.5em);
  background: hsl(0, 0%, 98%);
  color: hsl(150, 4%, 11%);
  padding: 1em 1em;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}
