
// **********  Variables  ****************

$background: #ABA393;
$colors: (
  color-1:  rgb(47, 122, 58),
  color-2:  rgb(48, 204, 48),
  color-3:  rgb(249, 200, 14),
  color-4:  rgb(254, 144, 5),
  color-5:  rgb(255, 87, 0),
  color-6:  rgb(208, 0, 26),
  color-7:  rgb(173, 30, 173),
  color-8:  rgb(118, 90, 213),
  color-9:  rgb(68, 141, 217),
  color-10: rgb(0, 27, 237),
);

// **********  Mixins  *******************

@mixin after($pos: relative) {
  position: $pos;
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

// **********  Base  *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: $background;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

// **********  Coloured Squares  *********

@each $name, $color in $colors {
  .#{$name} {
    background: $color;
  }
}

#container {
  width: min(80vh, 88vw);
  @include after();
  @for $i from 1 through 10 {
    :nth-child(#{$i}) {
      bottom: 0;
      width: (10% * $i);
      z-index: (20 - $i);
      @include after($pos: absolute);
    }
  }
}
