* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: ui-serif, 'New York', serif;
  font-size: 62.5%;
}

body {
  background: hsl(0, 0%, 7%);
}

%text {
  color: hsl(0, 0%, 98%);
  height: 50vh;
  outline: none;
  overflow: hidden;
  padding: 2em;
  width: 100vw;
}

#input {
  @extend %text;
  background: hsl(0, 0%, 7%);
  font-family: ui-monospace, 'SF Mono', monospace;
  font-size: 1.8em;
  line-height: 1.52;
}

#output {
  @extend %text;
  background: hsl(0, 0%, 16%);
  font-size: 2.2em;
}

.bold {
  font-weight: 700;
}
