* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	background: #232425;
	color: white;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#main {
	width: 100vw;
	height: 100vh;
}
#rgb-container {
	padding: 1rem;
}
p {
	/* text-align: center; */
	width: 100%;
	font-weight: 700;
}