// ***************  Variables  ****************

$background: #aba393;
$bright1: #1379cd;
$bright2: #55bf21;
$bright3: #ffda47;
$bright4: #ff5b2e;
$bright5: #e0151f;
$bright6: #e73c83;
$cutout: 0.02em 0.05em 0.02em 0.02em rgba(hsl(0, 0%, 0%), 0.3);

// ***************  Base  *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background: $background;
  display: grid;
  height: 100vh;
  place-items: center;
}

#site-main {
  position: relative;
  width: min(80vh, 88vw);
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

// ***************  Circles  ******************

%layers {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@mixin circle($num: 1, $width: 50%, $color: $bright2) {
  @extend %layers;
  @for $i from 0 through $num {
    :nth-child(#{($i + 1)}) {
      background: $color;
      border-radius: 100%;
      box-shadow: $cutout;
      height: $width;
      left: $width * $i;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: $width;
    }
  }
}

#layer-1 {
  @extend %layers;
  background: $bright1;
  border-radius: 100%;
  box-shadow: $cutout;
}

#layer-2 {
  @include circle();
}

#layer-3 {
  @include circle($num: 2, $width: 33.33%, $color: $bright3);
}

#layer-4 {
  @include circle($num: 3, $width: 25%, $color: $bright4);
}

#layer-5 {
  @include circle($num: 4, $width: 20%, $color: $bright5);
}

#layer-6 {
  @include circle($num: 5, $width: 16.66%, $color: $bright6);
}

// Adds a paperlike texture to the screen.

html::after {
  background: url('../images/noise.jpg');
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.05;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 201;
}
