* {
  box-sizing: border-box;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  text-align: center;
  width: 100vw;
}

main {
  width: min(100vw, 130vh);
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
}

#control {
  padding-top: 1em;
}

#crop {
  overflow: hidden;
  position: relative;
  &::after {
    content: '';
    display: block;
    padding-bottom: 66.6%;
  }
}

#canvas {
  left: -5%;
  position: absolute;
  top: -5%;
  width: 110%;
}
