---

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Static Tweet</title>
  </head>
  <body>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Joseph Beuys, &quot;Filz TV&quot; (1970). The only Beuys action executed specifically for the camera. It opens with Beuys seated in front of a TV set showing a programme which is invisible because the screen is covered by felt, which he punches with boxing-gloves: <a href="https://t.co/Rzk3TPOhdJ">https://t.co/Rzk3TPOhdJ</a> <a href="https://t.co/9zlCQ3zpXC">pic.twitter.com/9zlCQ3zpXC</a></p>&mdash; UbuWeb (@ubuweb) <a href="https://twitter.com/ubuweb/status/1505644487007219712?ref_src=twsrc%5Etfw">March 20, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
