:root {
  --background: hsl(40, 13%, 62%);
}

@mixin after($pos: relative) {
  position: $pos;
  &::after {
    display: block;
    padding-bottom: 100%;
    content: '';
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  background: var(--background);
}

input {
  display: block;
  padding: 0.5rem;
  margin-top: auto;
}

#root {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.canvas {
  @include after();

  width: min(80vh, 88vw);
  @for $i from 1 through 10 {
    :nth-child(#{$i}) {
      @include after($pos: absolute);

      bottom: 0;
      z-index: (20 - $i);
      width: (10% * $i);
    }
  }
}
