@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  margin: 5rem 0;
  text-align: center;
  p {
    margin: 0.4rem;
  }
}

.app-logo {
  height: 40vmin;
  @media (prefers-reduced-motion: no-preference) {
    animation: app-logo-spin infinite 20s linear;
  }
}
