// **********  Variables  ****************

$background: hsl(40, 13%, 62%);
$colors: (
  color-0: hsl(129, 44%, 33%),
  color-1: hsl(120, 62%, 49%),
  color-2: hsl(48, 95%, 52%),
  color-3: hsl(33, 99%, 51%),
  color-4: hsl(21, 100%, 50%),
  color-5: hsl(352, 100%, 41%),
  color-6: hsl(300, 70%, 40%),
  color-7: hsl(254, 59%, 59%),
  color-8: hsl(211, 66%, 56%),
  color-9: hsl(233, 100%, 47%)
);

// **********  Mixins  *******************

@mixin after($pos: relative) {
  position: $pos;
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

// **********  Base  *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: $background;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

// **********  Coloured Squares  *********

@each $x, $color in $colors {
  .#{$x} {
    background: $color;
  }
}

#container {
  width: min(80vh, 88vw);
  @include after();
  @for $i from 1 through 10 {
    :nth-child(#{$i}) {
      bottom: 0;
      width: (10% * $i);
      z-index: (20 - $i);
      @include after($pos: absolute);
    }
  }
}
