// **********  Variables  ****************

$background: #aba393;
$colors: (
  color-0: #2f7a3a,
  color-1: #30cc30,
  color-2: #f9c80e,
  color-3: #fe9005,
  color-4: #ff5700,
  color-5: #d0001a,
  color-6: #ad1ead,
  color-7: #765ad5,
  color-8: #448dd9,
  color-9: #001bed
);

// **********  Mixins  *******************

@mixin after($pos: relative) {
  position: $pos;
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

// **********  Base  *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: $background;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

// **********  Coloured Squares  *********

@each $x, $color in $colors {
  .#{$x} {
    background: $color;
  }
}

#container {
  width: min(80vh, 88vw);
  @include after();
  @for $i from 1 through 10 {
    :nth-child(#{$i}) {
      bottom: 0;
      width: (10% * $i);
      z-index: (20 - $i);
      @include after($pos: absolute);
    }
  }
}
