
// ********** Variables ****************

$background: #1B1C1D;
$text: #F5F5F5;

// ********** Base *********************

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
}
body {
  background: $background;
  color: $text;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vh;
  max-width: 88vw;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

// ********** Rainbow ******************

.rainbow {
  font-size: 1vw;
  background: transparent;
  position: relative;
  margin: 3.5rem;
  width: calc(100% - 7rem);
  border-radius: 50%;
  box-shadow: 0 0 0 0.5em #722CDC,
              0 0 0 1em #4340FF,
              0 0 0 1.5em #22BCA0,
              0 0 0 2em #8ED631,
              0 0 0 2.5em #FFCF12,
              0 0 0 3em #FF8D0C,
              0 0 0 3.5em #D91A1A;
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}
