
// ********** Variables ****************

:root {
  --bg: #1B1C1D;
  --text: #F5F5F5;
  --color-1: #4846D1;
  --color-2: #23BA69;
  --color-3: #80D834;
  --color-4: #FFD800;
  --color-5: #FF9C03;
  --color-6: #FF4A1B;
  --color-7: #E02B45;
  --color-8: #9D37B1;
}

// ********** Animation ****************

@keyframes turntable {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

// ********** Base *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: var(--bg);
  
}

#btn {
  width: 2rem;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.spinner {
  width: 2rem;
  fill: var(--text);
}

.spin > section {
  animation: turntable 1s linear infinite;
}
.stop > section {
  animation: none;
}

// ********** Circles ******************

%container {
  position: relative;
  width: 100%;
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

%inner {
  position: absolute;
  border-radius: 50%;
}

main {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  :nth-child(1) {
    @extend %container;
    :nth-child(1) {
      @extend %inner;
      background: var(--color-1);
    }
  }
  :nth-child(2) {
    @extend %container;
    @for $i from 0 through 1 {
      :nth-child(#{$i + 1}) {
        @extend %inner;
        background: var(--color-#{$i + 1});
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        transform: rotate(180deg * $i);
      }
    }
  }
  :nth-child(3) {
    @extend %container;
    @for $i from 0 through 2 {
      :nth-child(#{$i + 1}) {
        @extend %inner;
        background: var(--color-#{$i + 1});
        clip-path: polygon(50% 0, 0 0, 0 79%, 50% 50%);
        transform: rotate(120deg * $i);
      }
    }
  }
  :nth-child(4) {
    @extend %container;
    @for $i from 0 through 3 {
      :nth-child(#{$i + 1}) {
        @extend %inner;
        background: var(--color-#{$i + 1});
        clip-path: polygon(50% 0, 0 0, 0 50%, 50% 50%);
        transform: rotate(90deg * $i);
      }
    }
  }
  :nth-child(5) {
    @extend %container;
    @for $i from 0 through 4 {
      :nth-child(#{$i + 1}) {
        @extend %inner;
        background: var(--color-#{$i + 1});
        clip-path: polygon(50% 0, 0 0, 0 34%, 50% 50%);
        transform: rotate(72deg * $i);
      }
    }
  }
  :nth-child(6) {
    @extend %container;
    @for $i from 0 through 5 {
      :nth-child(#{$i + 1}) {
        @extend %inner;
        background: var(--color-#{$i + 1});
        clip-path: polygon(50% 0, 0 0, 0 21.3%, 50% 50%);
        transform: rotate(60deg * $i);
      }
    }
  }
  :nth-child(7) {
    @extend %container;
    @for $i from 0 through 6 {
      :nth-child(#{$i + 1}) {
        @extend %inner;
        background: var(--color-#{$i + 1});
        clip-path: polygon(50% 0, 0 0, 0 10.5%, 50% 50%);
        transform: rotate(51.43deg * $i);
      }
    }
  }
  :nth-child(8) {
    @extend %container;
    @for $i from 0 through 7 {
      :nth-child(#{$i + 1}) {
        @extend %inner;
        background: var(--color-#{$i + 1});
        clip-path: polygon(50% 0, 0 0, 0 0%, 50% 50%);
        transform: rotate(45deg * $i);
      }
    }
  }
}
