
// ********** Variables ****************

$background: #1B1C1D;
$text: #F5F5F5;

// ********** Base *********************

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
}
body {
  background: $background;
  color: $text;
}
.container {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

// ********** Circles ******************

%circle {
  position: relative;
  //border: 2px solid white;
  border-radius: 50%;
  width: 100%;
  background: #322FD6;
  @extend %after;
}
%inner {
  position: absolute;
  border-radius: 50%;
  width: 100%;
}
%after {
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

.first {
  @extend %circle;
}
.second {
  @extend %circle;
  :first-child {
    @extend %inner;
    background: yellow;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    @extend %after;
  }
}
.third {
  @extend %circle;
  :first-child {
    @extend %inner;
    background: red;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    @extend %after;
  }
  :nth-child(2) {
    @extend %inner;
    background: yellow;
    clip-path: polygon(50% 50%, 100% 75%, 100% 100%, 0 100%, 0 75%);
    @extend %after;
  }
}
.fourth {
  @extend %circle;
  :first-child {
    @extend %inner;
    background: yellow;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    @extend %after;
  }
  :nth-child(2) {
    @extend %inner;
    background: limegreen;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    @extend %after;
  }
  :nth-child(3) {
    @extend %inner;
    background: red;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    @extend %after;
  }
}
.fifth {
  @extend %circle;
  :first-child {
    @extend %inner;
    background: red;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    @extend %after;
  }
  :nth-child(2) {
    @extend %inner;
    background: orange;
    clip-path: polygon(0 66.25%, 100% 34.55%, 100% 100%, 0% 100%);
    @extend %after;
  }
  :nth-child(3) {
    @extend %inner;
    background: yellow;
    clip-path: polygon(0 50%, 50% 50%, 86.33% 100%, 0% 100%);
    @extend %after;
  }
  :nth-child(4) {
    @extend %inner;
    background: limegreen;
    clip-path: polygon(0 33%, 50% 50%, 13% 100%, 0% 100%);
    @extend %after;
  }
}
.sixth {
  @extend %circle;
  :first-child {
    @extend %inner;
    background: purple;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    @extend %after;
  }
  :nth-child(2) {
    @extend %inner;
    background: orange;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    @extend %after;
  }
  :nth-child(3) {
    @extend %inner;
    background: red;
    clip-path: polygon(50% 50%, 100% 78.87%, 100% 21.13%);
    @extend %after;
  }
  :nth-child(4) {
    @extend %inner;
    background: yellow;
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0% 100%);
    @extend %after;
  }
  :nth-child(5) {
    @extend %inner;
    background: limegreen;
    clip-path: polygon(50% 50%, 0 78.78%, 0 21.13%);
    @extend %after;
  }
}
.seventh {
  @extend %circle;
  :first-child {
    @extend %inner;
    background: purple;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(-90deg);
    @extend %after;
  }
  :nth-child(2) {
    @extend %inner;
    background: red;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(-38.57deg);
    @extend %after;
  }
  :nth-child(3) {
    @extend %inner;
    background: orange;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(12.86deg);
    @extend %after;
  }
  :nth-child(4) {
    @extend %inner;
    background: yellow;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(64.29deg);
    @extend %after;
  }
  :nth-child(5) {
    @extend %inner;
    background: limegreen;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(115.72deg);
    @extend %after;
  }
  :nth-child(6) {
    @extend %inner;
    background: teal;
    clip-path: polygon(0 10.13%, 0 61.41%, 50% 50%);
    @extend %after;
  }
}
.eighth {
  @extend %circle;
  :first-child {
    @extend %inner;
    background: purple;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(-90deg);
    @extend %after;
  }
  :nth-child(2) {
    @extend %inner;
    background: deeppink;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(-45deg);
    @extend %after;
  }
  :nth-child(3) {
    @extend %inner;
    background: red;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(-0deg);
    @extend %after;
  }
  :nth-child(4) {
    @extend %inner;
    background: orange;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(45deg);
    @extend %after;
  }
  :nth-child(5) {
    @extend %inner;
    background: yellow;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(90deg);
    @extend %after;
  }
  :nth-child(6) {
    @extend %inner;
    background: limegreen;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(135deg);
    @extend %after;
  }
  :nth-child(7) {
    @extend %inner;
    background: teal;
    clip-path: polygon(0 0, 0 50%, 50% 50%);
    @extend %after;
  }
}



// ********** Rainbow ******************

// .rainbow {
//   //font-size: 1.1vw; // Trying to make the rainbow responsive.
//   background: transparent;
//   position: relative;
//   margin: 3.5rem;
//   width: calc(100% - 7rem);
//   border-radius: 50%;
//   box-shadow: 0 0 0 0.5em #722CDC,
//               0 0 0 1em #4340FF,
//               0 0 0 1.5em #22BCA0,
//               0 0 0 2em #8ED631,
//               0 0 0 2.5em #FFCF12,
//               0 0 0 3em #FF8D0C,
//               0 0 0 3.5em #D91A1A;
//   &::after {
//     content: "";
//     padding-bottom: 100%;
//     display: block;
//   }
// }

