// ********* Variables ****************

:root {
  --background: #aba393;
  --color-1: #23ba69;
  --color-2: #91d834;
  --color-3: #e7e00d;
  --color-4: #f5a510;
  --color-5: #f5631f;
  --color-6: #ea3546;
  --color-7: #c44283;
  --color-8: #8f3bc3;
  --color-9: #692dc3;
  --color-10: #322fd6;
}

// ********* Base *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: var(--background);
}

#site-main {
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100vw;
}

// ********* Triangle Layers **********

#container {
  font-size: min(5vh, 4vw);
  position: relative;
  width: 20em;
  &::after {
    content: '';
    display: block;
    padding-bottom: 86.66%;
  }
  @for $i from 1 through 10 {
    :nth-child(#{$i}) {
      border-bottom: ((1.732em) * $i) solid var(--color-#{$i});
      border-left: (1em * $i) solid transparent;
      border-right: (1em * $i) solid transparent;
      box-shadow: 0 0.03em 0 0 rgba(hsl(0, 0%, 0%), 0.2);
      height: 0;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 0;
      z-index: (10 - $i);
    }
  }
}
