
// ********** Variables ****************

$background: #232425;
$textarea: #474747;
$text: #F5F5F5;
$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

// ********** Base *********************

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: $sans;
  color: $text;
  font-size: 1.4em;
  -moz-osx-font-smoothing: grayscale;	
  -webkit-font-smoothing: antialiased;
}

body {
  background: $background;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}


// ********** Text area ****************

.text,
.backing {
  height: calc(100vh - 2rem);
}

.text,
.output {
  width: 100vw;
  max-width: 34.7rem;
  margin: auto;
}

.backing {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  background: $textarea;
}

.text {
  border: 0;
  border-radius: 0;
  background-color: $textarea;
  padding: 1.2rem 1.5rem;
  color: $text;
  font-family: $sans;
  font-size: 1rem;
  resize: none;
  outline: none;
  z-index: 100;
}

.output {
  font-size: 0.85rem;
  padding: 0.45rem 1.5rem 0 1.5rem;
}

// ********** Responsive ***************

@media (max-width: 660px) {
  html {
    font-size: 1.1rem;
  }
  .text,
  .backing {
    height: calc(100vh - 2rem);
  }
  .output {
    padding: 0.5rem 1.5rem 0 1.5rem;
  }
}