// ********* Variables ****************

$dark: #2c2d48;
$light: #e7dbd8;
$green: #33cc66;
$blue: #0099ff;
$red: #ff3333;
$white: #ffffff;
$time: 0.3s ease-in-out;

// ********* Base *********************

* {
  margin: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $white;
  overflow: hidden;
}

#site-main {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

// ********* Mode Switching ***********

.light {
  background: $light;
  transition: background $time;
}

.dark {
  background: $dark;
  transition: background $time;
}

#mode {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  width: 3rem;
  cursor: pointer;
}

.darkmode {
  fill: $light;
  transition: fill $time, transform $time, -webkit-transform $time;
}

.lightmode {
  fill: $dark;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: fill $time, transform $time, -webkit-transform $time;
}

// ********* Venn Diagram *************

@mixin circle(
  $bottom: 10.02%,
  $left: 2.41%,
  $bg: $white,
  $blend: normal,
  $op: 1
) {
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
  bottom: $bottom;
  left: $left;
  background: $bg;
  mix-blend-mode: $blend;
  opacity: $op;
  @extend %after;
}

@mixin content($top: 67%, $left: 50%) {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: var(--light);
  top: $top;
  left: $left;
}

.container {
  position: relative;
  width: 90vh;
  max-width: 88vw;
  @extend %after;
  :nth-child(1) {
    @include circle($bottom: 39.41%, $left: 19.705%);
  }
  :nth-child(2) {
    @include circle($left: 37%);
  }
  :nth-child(3) {
    @include circle();
  }
  :nth-child(4) {
    @include circle(
      $bottom: 39.41%,
      $left: 19.705%,
      $bg: $green,
      $blend: difference,
      $op: 0.65
    );
  }
  :nth-child(5) {
    @include circle($left: 37%, $bg: $red, $blend: difference, $op: 0.65);
  }
  :nth-child(6) {
    @include circle($bg: $blue, $blend: difference, $op: 0.65);
  }
  // Labels
  :nth-child(7) {
    @include content($top: 18%, $left: 50%);
  }
  :nth-child(8) {
    @include content($left: 21%);
  }
  :nth-child(9) {
    @include content($left: 78%);
  }
  :nth-child(10) {
    @include content($top: 50%);
  }
}

%after {
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

// Adds a paperlike texture to the screen.

html::after {
  background: url(../images/noise.jpg);
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.05;
  pointer-events: none;
  position: absolute;
  z-index: 201;
}
