// ********* Variables ****************

$dark: hsl(238, 24%, 23%);
$light: hsl(12, 24%, 88%);
$green: hsl(140, 60%, 50%);
$blue: hsl(204, 100%, 50%);
$red: hsl(360, 100%, 60%);
$white: hsl(0, 0%, 100%);
$time: 0.3s ease-in-out;

// ********* Base *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  color: $white;
  font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono',
    Menlo, Consolas, monospace;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

#site-main {
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100vw;
}

// ********* Mode Switching ***********

.light {
  background: $light;
  transition: background $time;
}

.dark {
  background: $dark;
  transition: background $time;
}

#mode {
  cursor: pointer;
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  width: 3rem;
}

.darkmode {
  fill: $light;
  transition: fill $time, transform $time, -webkit-transform $time;
}

.lightmode {
  fill: $dark;
  transform: scaleX(-1);
  transform: scaleX(-1);
  transition: fill $time, transform $time, -webkit-transform $time;
}

// ********* Venn Diagram *************

@mixin circle(
  $bottom: 10.02%,
  $left: 2.41%,
  $bg: $white,
  $blend: normal,
  $op: 1
) {
  @extend %after;
  background: $bg;
  border-radius: 50%;
  bottom: $bottom;
  left: $left;
  mix-blend-mode: $blend;
  opacity: $op;
  position: absolute;
  width: 60.59%;
}

@mixin content($top: 67%, $left: 50%) {
  color: var(--light);
  font-size: 5rem;
  left: $left;
  position: absolute;
  top: $top;
  transform: translate(-50%, -50%);
}

.container {
  @extend %after;
  max-width: 88vw;
  position: relative;
  width: 90vh;
  :nth-child(1) {
    @include circle($bottom: 39.41%, $left: 19.705%);
  }
  :nth-child(2) {
    @include circle($left: 37%);
  }
  :nth-child(3) {
    @include circle();
  }
  :nth-child(4) {
    @include circle(
      $bottom: 39.41%,
      $left: 19.705%,
      $bg: $green,
      $blend: difference,
      $op: 0.65
    );
  }
  :nth-child(5) {
    @include circle($left: 37%, $bg: $red, $blend: difference, $op: 0.65);
  }
  :nth-child(6) {
    @include circle($bg: $blue, $blend: difference, $op: 0.65);
  }
  // Labels
  :nth-child(7) {
    @include content($top: 18%, $left: 50%);
  }
  :nth-child(8) {
    @include content($left: 21%);
  }
  :nth-child(9) {
    @include content($left: 78%);
  }
  :nth-child(10) {
    @include content($top: 50%);
  }
}

%after {
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

// Adds a paperlike texture to the screen.

html::after {
  background: url('../images/noise.jpg');
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.05;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 201;
}
