* {
  box-sizing: border-box;
	margin:0;
	padding:0;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
body {
  text-align: center;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
#crop {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background: red;
  &::after {
    content: "";
    display: block;
    padding-bottom: 66%;
     
  }
}
//#scale {
  //width: 110%;
  //transform: scale(150%);
//}
//#canvas {
//  width: 100%;
//  transform: scale(150%);
//}
//@media (max-width: 1000px) {
//  #canvas {
//    width: 100%;
//  }
//}