* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
body {
  text-align: center;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
#crop {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    padding-bottom: 66.6%;
  }
}
#canvas {
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}
@media (max-width: 1000px) {
  #crop {
   width: 100%;
  }
}
