body {
  background-color: hsl(180, 5%, 96%);
}

html {
  font-size: 62.5%;
  letter-spacing: 0.2px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.ma3 {
  margin: 1.2rem;
}

.mt2 {
  margin-top: 0.8rem;
}

.mb2 {
  margin-bottom: 0.8rem;
}

.ml2 {
  margin-left: 0.8rem;
}

.og-container {
  width: 476px;
  margin-bottom: 2.4rem;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(204, 11%, 91%);
  border-radius: 3px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.social-og-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.38;
  color: hsl(220, 46%, 41%);
}

.social-og-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.34;
  color: hsl(216, 7%, 41%);
}

.social-og-desc {
  display: inline-block;
  height: 10px;
  background: hsl(216, 13%, 92%);
  border-radius: 5px;
}

.social-og-preview {
  background: hsl(220, 13%, 96%);
}

.social-og-preview-image {
  width: 100%;
  height: 247px;
  background-position: 50%;
  background-size: cover;
  border-top: 1px solid hsl(216, 8%, 88%);
}

.social-og-preview-bookmark {
  padding: 10px 12px 8px;
  border-bottom: 1px solid hsl(216, 8%, 88%);
}

.social-og-preview-content {
  height: 69px;
  padding: 0 1px 0 4px;
  margin: 0 -1px 0 -4px;
  overflow: hidden;
}

.social-og-preview-meta {
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: hsl(214, 8%, 41%);
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.social-og-preview-title {
  max-height: 110px;
  padding-top: 2px;
  margin: 3px 0 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: hsl(220, 17%, 14%);
  word-wrap: break-word;
}

.social-og-preview-desc {
  max-height: 20px;
  margin-top: 3px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: hsl(218, 7%, 32%);
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
}

.social-og-reactions {
  display: flex;
  align-items: center;
  margin: 12px;
}

.social-og-likes {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  color: hsl(214, 8%, 41%);
}

.social-og-likes svg {
  width: 20px;
  height: 20px;
}

.social-og-comments {
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 20px;
  color: hsl(214, 8%, 41%);
  word-wrap: break-word;
}
