* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

body {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  color: hsl(0, 0%, 0%);
  background: hsl(46, 22%, 85%);
}

.container {
  height: 100vh;
  margin: auto;
}

#strategy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
