* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

body {
  background: hsl(46, 22%, 85%);
  color: hsl(0, 0%, 0%);
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  margin: auto;
}

#strategy {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
