---
import "sanitize.css/sanitize.css"
import "sanitize.css/assets.css"
import "sanitize.css/reduce-motion.css"
import "sanitize.css/typography.css"
import "styles/global.scss"
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Icon component</title>
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  </head>
  <body>
    <div id="app">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<!-- prettier-ignore -->
<style lang="scss">
  @keyframes logo-pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.06);
    }
  }

  #app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    height: 100vh;
    background-color: var(--background);
  }
</style>
