* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 3%, 14%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

p {
  width: 100%;
  padding: 2rem;
  font-weight: 700;
}
