.ogContainer {
  width: 476px;
  margin-bottom: 2.4rem;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(204, 11%, 91%);
  border-radius: 3px;
}

.socialIcon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.socialOgTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.38;
  color: hsl(220, 46%, 41%);
}

.socialOgTime {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.34;
  color: hsl(216, 7%, 41%);
}

.socialOgDesc {
  display: inline-block;
  height: 10px;
  background: hsl(216, 13%, 92%);
  border-radius: 5px;
}

.socialOgPreview {
  background: hsl(220, 13%, 96%);
}

.socialOgPreviewImage {
  width: 100%;
  height: 247px;
  background-position: 50%;
  background-size: cover;
  border-top: 1px solid hsl(216, 8%, 88%);
}

.socialOgPreviewBookmark {
  padding: 10px 12px 8px;
  border-bottom: 1px solid hsl(216, 8%, 88%);
}

.socialOgPreviewContent {
  height: 69px;
  padding: 0 1px 0 4px;
  margin: 0 -1px 0 -4px;
  overflow: hidden;
}

.socialOgPreviewMeta {
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: hsl(214, 8%, 41%);
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.socialOgPreviewTitle {
  max-height: 110px;
  padding-top: 2px;
  margin: 3px 0 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: hsl(220, 17%, 14%);
  word-wrap: break-word;
}

.socialOgPreviewDesc {
  max-height: 20px;
  margin-top: 3px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: hsl(218, 7%, 32%);
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
}

.socialOgReactions {
  display: flex;
  align-items: center;
  margin: 12px;
}

.socialOgLikes {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  color: hsl(214, 8%, 41%);
}

.socialOgLikes svg {
  width: 20px;
  height: 20px;
}

.socialOgComments {
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 20px;
  color: hsl(214, 8%, 41%);
  word-wrap: break-word;
}
