* {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

#set-height {
  display: block;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
