* {
  box-sizing: border-box;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  color: hsl(0, 0%, 98%);
  background: hsl(150, 4%, 11%);
}

h1 {
  display: inline-block;
  width: 22%;
  font-size: 2.5rem;
  font-weight: 700;
}

#count {
  max-width: 88%;
  margin: 45vh auto 9rem;
  text-align: center;
}

#btn {
  padding: 1em;
  margin: 0 calc(50vw - 4.5em);
  font-size: 1em;
  color: hsl(150, 4%, 11%);
  text-transform: uppercase;
  cursor: pointer;
  background: hsl(0, 0%, 98%);
}
