* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
body {
  text-align: center;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
#canvas {
  width: 80%;
}
@media(max-width: 1000px) {
  #canvas {
    width: 100%;
  }
}