div {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-image: url(../images/umbrella-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: background-image .5s ease-in-out;
  -moz-transition: background-image .5s ease-in-out;
  &::after {
    content: "";
    display: block;
    padding-bottom: 60%;
  }
}

