:root {
  --text-light: rgba(0,0,0,.75);
  --background-light-left: rgb(255, 255, 255);
  --background-light-right: rgb(243, 243, 243);
  --selection-light: rgba(0,0,0,.2);
  --text-dark: rgba(255, 255, 255, 0.75);
  --background-dark-left: rgb(32, 36, 38);
  --background-dark-right: rgb(47, 52, 55);
  --selection-dark: rgb(74, 82, 87);
  --mode-switch: rgb(109, 121, 128);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}
%note-area {
  border: none;
  min-height: 100vh;
  padding: 20px 30px;
  width: 100%;
  font-family: Monolisa, sans-serif;
  font-size: 1rem;
  line-height: 1.67;
  resize: none;
  &:focus {
    outline: 0px;
  }
}
.light-mode-left {
  @extend %note-area;
  color: var(--text-light);
  background: var(--background-light-left);
  &::selection {
    color: var(--text-light);
    background: var(--selection-light);
  }
}
.light-mode-right {
  @extend %note-area;
  color: var(--text-light);
  background: var(--background-light-right);
  &::selection {
    color: var(--text-light);
    background: var(--selection-light);
  }
}
.dark-mode-left {
  @extend %note-area;
  color: var(--text-dark);
  background: var(--background-dark-left);
  &::selection {
    color: var(--text-dark);
    background: var(--selection-dark);
  }
}
.dark-mode-right {
  @extend %note-area;
  color: var(--text-dark);
  background: var(--background-dark-right);
  &::selection {
    color: var(--text-dark);
    background: var(--selection-dark);
  }
}
.fa-adjust {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  cursor: pointer;
  color: var(--mode-switch);
}
@media (max-width: 1024px) {
  .light-mode-left,
  .light-mode-right,
  .dark-mode-left,
  .dark-mode-right {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .light-mode-left,
  .light-mode-right,
  .dark-mode-left,
  .dark-mode-right {
    font-size: 0.85rem;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .right {
    display: none;
  }
}