body {
  margin: 0px;
  overflow: hidden;
}
textarea {
  border: none;
  min-height: 100vh;
  line-height: 1.67;
  font-size: 1em;
  font-family: Lato, sans-serif;
  color: rgba(0,0,0,.75);
  resize: none;
  padding: 20px 30px;
  /*min-width: -webkit-fill-available;*/
  width: 100%;
  box-sizing: border-box;
}
::selection {
  color: rgba(0,0,0,.75);
  background-color: rgba(0,0,0,.2);
}
.left {
  width: 25%; float: left;
}
.right {
  background-color: #f3f3f3; width: 75%; float: left;
}
.left-text {
  
}
.right-text {
  background-color: #f3f3f3;
}
textarea:focus {
  outline: 0px;
}