// ********* Variables ****************

$background:  #ABA393;
$colors: (
  1: #23BA69,
  2: #91D834,
  3: #E7E00D,
  4: #F5A510,
  5: #F5631F,
  6: #EA3546,
  7: #C44283,
  8: #8F3BC3,
  9: #692DC3,
  10: #322FD6,
);

// ********* Base *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: $background;
}

#site-main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  box-sizing: content-box;
  position: relative;
  width: 20em;
  &::after {
    content: "";
    padding-bottom: 86.66%;
    display: block;
  }
}

// ********* Triangle Layers **********

@for $i from 1 through 10 {
  div:nth-child(#{$i}) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: (1em * $i) solid transparent;
    border-right: (1em * $i) solid transparent;
    border-bottom: (1.732em * $i) solid;
    z-index: (10 - $i);
  }
}

@each $x, $color in $colors {
  div:nth-child(#{$x}) {
    border-bottom-color: $color;
  }
}
