// ********* Variables ****************

:root {
  --dark:  #1B1C1D;
  --light: #E7DBD8;
  --white: #ffffff;
  --sans:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  --mono:  SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

// ********* Base *********************

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
html {
  font-family: var(--sans);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  overflow: hidden;
}
body {
  background: var(--dark);
}
.container {
  box-sizing: content-box;
  position: relative;
  width: 20em;
  height: 17.32em;
  border: 1px solid white;
  margin: 0rem auto;
}

%triangle {
  box-sizing: content-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border-top: 2em solid transparent;
  border-left: 1.11548em solid transparent;
  border-right: 1.11548em solid transparent;
}
.guide {
  box-sizing: content-box;
  position: absolute;
  width: 20em;
  height: 17.32em;
  outline: 1px solid cyan;
  top: 0;
}

// 23.096
// 20.786
// 18.477
// 16.167
// 13.858
// 11.548
// 9.2384
// 6.9288
// 4.6192
// 2.3096

.triangle-0 {
  @extend %triangle;
  width: 20.786em;
  height: 16em;
  border-bottom: 2em solid blue;
}
.triangle-1 {
  @extend %triangle;
  width: 18.477em;
  height: 14em;
  border-bottom: 2rem solid green;
}
.triangle-2 {
  @extend %triangle;
  width: 16.167em;
  height: 12em;
  border-bottom: 2rem solid yellow;
}
.triangle-3 {
  @extend %triangle;
  width: 13.858em;
  height: 10em;
  border-bottom: 2em solid red;
}
.triangle-4 {
  @extend %triangle;
  width: 11.548em;
  height: 8em;
  border-bottom: 2em solid purple;
}
.triangle-5 {
  @extend %triangle;
  width: 9.2384em;
  height: 6em;
  border-bottom: 2rem solid cyan;
}
.triangle-6 {
  @extend %triangle;
  width: 6.9288em;
  height: 4em;
  border-bottom: 2em solid pink;
}
.triangle-7 {
  @extend %triangle;
  width: 4.6192em;
  height: 2em;
  border-bottom: 2em solid limegreen;
}
.triangle-8 {
  @extend %triangle;
  width: 2.3096em;
  height: 0em;
  border-bottom: 2em solid darkcyan;
}
.triangle-9 {
  @extend %triangle;
  width: 0em;
  height: 0em;
  border-bottom: 2em solid orange;
  top: 45%;
}