// ********** Colors **************

$txt-lgt: hsla(0, 0%, 0%, 0.75);
$bg-lgt-l: hsl(0, 0%, 100%);
$bg-lgt-r: hsl(0, 0%, 95%);
$select-lgt: hsla(0, 0%, 0%, 0.2);
$txt-dk: hsla(0, 0%, 100%, 0.75);
$bg-dk-l: hsl(200, 9%, 14%);
$bg-dk-r: hsl(203, 8%, 20%);
$select-dk: hsla(0, 0%, 100%, 0.25);
$mode-btn: hsl(202, 8%, 47%);

// ********** Typography **********

@font-face {
  font-family: MonoLisa;
  src: url(./fonts/MonoLisa-Regular.woff2) format("woff2");
  font-weight: normal;
  font-size: normal;
}

@mixin serif {
  font-family: ui-serif, "Iowan Old Style", "Palatino Linotype", Palatino,
    "URW Palladio L", serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

@mixin sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

@mixin monospace {
  font-family: MonoLisa, ui-monospace, Menlo, Monaco, Consolas,
    "Liberation Mono", monospace;
  font-size: 1.05rem;
  line-height: 1.6;
}

// ********** Base ****************

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background: $bg-dk-l;
}

body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ********** Text areas **********

.wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  overflow: visible;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

@mixin note-area(
  $clr: $txt-lgt,
  $bg: $bg-lgt-l,
  $sel-clr: $txt-lgt,
  $sel-bg: $select-lgt
) {
  @include monospace;
  min-height: 100vh;
  padding: 1.25rem 1.875rem 35vh 1.875rem;
  width: 100%;
  color: $clr;
  background: $bg;
  &::selection {
    color: $sel-clr;
    background: $sel-bg;
  }
  &:focus {
    outline: 0px;
  }
  @media (max-width: 1024px) {
    font-size: 1rem;
  }
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.light-mode-left {
  @include note-area();
}

.light-mode-right {
  @include note-area($bg: $bg-lgt-r);
  @include serif();
}

.dark-mode-left {
  @include note-area(
    $clr: $txt-dk,
    $bg: $bg-dk-l,
    $sel-clr: $txt-dk,
    $sel-bg: $select-dk
  );
}

.dark-mode-right {
  @include note-area(
    $clr: $txt-dk,
    $bg: $bg-dk-r,
    $sel-clr: $txt-dk,
    $sel-bg: $select-dk
  );
  @include serif();
}

// ********** Control icons *******

@mixin icon($right: 1rem) {
  position: absolute;
  bottom: 1rem;
  right: $right;
  height: 2rem;
  cursor: pointer;
  color: $mode-btn;
}

.fa-adjust {
  @include icon();
}

.fa-file-download {
  @include icon($right: 4rem);
}

// hide the right column on small screens

@media (max-width: 768px) {
  .right {
    display: none;
  }
}
