* {
  margin: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: #272829;
}

#shape {
  width: 100%;
  position: relative;
  height: 100vh;
}

.c0 {
  background: #007f00;
}

.c1 {
  background: #f9c80e;
}

.c2 {
  background: #f86624;
}

.c3 {
  background: #ea3546;
}

.c4 {
  background: #662e9b;
}

.c5 {
  background: #43bccd;
}
