* {
  margin: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: #272829;
}

#shape {
  width: 100%;
  position: relative;
  height: 100vh;
}

.c0 {
  background: hsl(120, 100%, 25%);
}

.c1 {
  background: hsl(48, 95%, 52%);
}

.c2 {
  background: hsl(19, 94%, 56%);
}

.c3 {
  background: hsl(354, 81%, 56%);
}

.c4 {
  background: hsl(271, 54%, 39%);
}

.c5 {
  background: hsl(188, 58%, 53%);
}
