* {
  box-sizing: border-box;
  margin: auto;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: hsl(210, 4%, 11%);
  color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
}

.container {
  margin: 2rem;
}
