body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

section {
  width: min(135vh, 100vw);
  aspect-ratio: 3/2;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
