
// ***************  Variables  ****************

$background: #ABA393;
$bright1: #1379CD;
$bright2: #55BF21;
$bright3: #FFDA47;
$bright4: #FF5B2E;
$bright5: #E0151F;
$bright6: #E73C83;
$cutout: 0.02em 0.05em 0.02em 0.02em;

// ***************  Base  *********************

* {
  margin: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background: $background;
  display: grid;
  place-items: center;
  height: 100vh;
}

#site-main {
  position: relative;
  width: min(80vh, 88vw);
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

// ***************  Circles  ******************

%layers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.layer-1 {
  @extend %layers;
  border-radius: 100%;
  background: $bright1;
  box-shadow: 0.05em 0.05em 0.05em 0.02em rgba(black, 0.2),
              0.05em 0.05em 0.05em 0.02em rgba($bright1, 0.6);
}

.layer-2 {
  @extend %layers;
  @for $i from 0 through 1 {
    :nth-child(#{($i + 1)}) {
      position: absolute;
      width: 50%;
      height: 50%;
      border-radius: 100%;
      background: $bright2;
      box-shadow: $cutout rgba(black, 0.3),
                  $cutout rgba($bright2, 0.3);
      transform: translateY(-50%);
      top: 50%;
      left: (50% * $i);
    }
  }
}

.layer-3 {
  @extend %layers;
  @for $i from 0 through 2 {
    :nth-child(#{($i + 1)}) {
      position: absolute;
      width: 33.33%;
      height: 33.33%;
      border-radius: 100%;
      background: $bright3;
      box-shadow: $cutout rgba(black, 0.3),
                  $cutout rgba($bright2, 0.3);
      transform: translateY(-50%);
      top: 50%;
      left: (33.33% * $i);
    }
  }
}

.layer-4 {
  @extend %layers;
  @for $i from 0 through 3 {
    :nth-child(#{($i + 1)}) {
      position: absolute;
      width: 25%;
      height: 25%;
      border-radius: 100%;
      background: $bright4;
      box-shadow: $cutout rgba(black, 0.3),
                  $cutout rgba($bright2, 0.3);
      transform: translateY(-50%);
      top: 50%;
      left: (25% * $i);
    }
  }
}

.layer-5 {
  @extend %layers;
  @for $i from 0 through 4 {
    :nth-child(#{($i + 1)}) {
      position: absolute;
      width: 20%;
      height: 20%;
      border-radius: 100%;
      background: $bright5;
      box-shadow: $cutout rgba(black, 0.3),
                  $cutout rgba($bright2, 0.3);
      transform: translateY(-50%);
      top: 50%;
      left: (20% * $i);
    }
  }
}

.layer-6 {
  @extend %layers;
  @for $i from 0 through 5 {
    :nth-child(#{($i + 1)}) {
      position: absolute;
      width: 16.66%;
      height: 16.66%;
      border-radius: 100%;
      background: $bright6;
      box-shadow: $cutout rgba(black, 0.3),
                  $cutout rgba($bright2, 0.3);
      transform: translateY(-50%);
      top: 50%;
      left: (16.66% * $i);
    }
  }
}
// Adds a paperlike texture to the screen.

html::after {
  background: url(../images/noise.jpg);
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.05;
  pointer-events: none;
  position: absolute;
  z-index: 201;
}
