* {
  margin: 0;
}

body {
  font-family: 'GT Eesti Pro Display', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: calc(800vh + 700vw);
  overflow-x: hidden;
  width: 100vw;
}

.container {
  height: 100vh;
  left: 0;
  position: absolute;
  &--a {
    background: hsl(51, 100%, 50%);
    display: grid;
    place-items: center;
    top: 100vh;
    width: 100vw;
  }
  &--b {
    background: hsl(0, 0%, 83%);
    display: flex;
    top: 600vh;
  }
  &__photo {
    display: grid;
    height: 100vh;
    place-items: center;
    position: relative;
    width: 100vw;
  }
}

h1 {
  font-size: 7.5rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
}

h1,
h2 {
  text-align: center;
}
