* {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

#set-height {
  display: block;
}

#coin {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}
