// ********** Variables ****************

$bg: #171614;
$grape: #FFD800;
$melon: #9D37B1;
$graph: #80D834;
$sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

// ********** Fonts ********************

@font-face {
  font-family: Recursive;
  src:  url(../fonts/recursive.woff2) format("woff supports variations"),
        url(../fonts/recursive.woff2) format("woff2-variations");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
  font-display: swap;
}

// ********** Animation ****************

@keyframes grape {
  0%  {font-variation-settings: "MONO" 1, "CASL" 0, "wght"  300, "slnt" 0; color: $melon;}
  50% {font-variation-settings: "MONO" 1, "CASL" 1, "wght" 1000, "slnt" 0; color: $grape;}
  100%{font-variation-settings: "MONO" 1, "CASL" 0, "wght"  300, "slnt" 0; color: $melon;}
}
@keyframes melon {
  0%  {font-variation-settings: "MONO" 1, "CASL" 1, "wght" 1000, "slnt" 0; color: $grape;}
  50% {font-variation-settings: "MONO" 1, "CASL" 0, "wght"  300, "slnt" 0; color: $melon;}
  100%{font-variation-settings: "MONO" 1, "CASL" 1, "wght" 1000, "slnt" 0; color: $grape;}
}

// ********** Base *********************

* {
  box-sizing: border-box;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-family: Recursive, $sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $bg;
  overflow: hidden;
}

main {
  height: 100vh;
  display: grid;
  place-items: center; 
}

// ********** Font Variations **********

// Variation range for Recursive:
// "MONO" 0 - 1, "CASL" 0 - 1, "wght" 300 - 1000, "slnt" -15 - 0

%vari {
  font-size: min(20vh, 15vw);
  text-align: center;
}

#graph {
  @extend %vari;
  color: $graph;
  @for $i from 1 through 10 {
    :nth-child(#{$i}) {
      font-variation-settings: 
        "MONO" 1,
        "CASL" ($i - 1) * 0.11,
        "wght" (($i - 1) * 78) + 300,
        "slnt" ($i - 1) * -1.67;
    }
  }
}

#grape {
  @extend %vari;
  animation: grape 15s infinite;
}

#melon {
  @extend %vari;
  animation: melon 15s infinite;
}
