// ********* Variables ****************

:root {
  --dark:  #2C2D48;
  --light: #E7DBD8;
  --green: #33CC66;
  --blue:  #0099FF;
  --red:   #FF3333;
  --white: #ffffff;
}

// ********* Base *********************

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::after,
  &::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  overflow: hidden;
}
body {
}
#site-main {
  width: 100vw;
  height: 100vh;
}

// ********* Mode Switching ***********

.light {
  background: var(--light);
  fill: var(--light);
}
.dark {
  background: var(--dark);
  fill: var(--dark);
}
#mode {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  width: 3rem;
  cursor: pointer; 
}
.darkmode {
  fill: var(--light);
}
.lightmode {
  fill: var(--dark);
}

// ********* Venn Diagram *************

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vh;
  max-width: 88vw;
}
%top-circles {
  mix-blend-mode: difference;
  opacity: 0.65;
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
}
.circle-4 {
  @extend %top-circles;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--green);
}
.circle-5 {
  @extend %top-circles;
  bottom: 10.02%;
  right: 2.41%;
  background: var(--red);
}
.circle-6 {
  @extend %top-circles;
  bottom: 10.02%;
  left: 2.41%;
  background: var(--blue);
}
%white-circles {
  background: white;
  position: absolute;
  width: 60.59%;
  border-radius: 50%;
}
.circle-1 {
  @extend %white-circles;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.circle-2 {
  @extend %white-circles;
  bottom: 10.02%;
  left: 2.41%;
}
.circle-3 {
  @extend %white-circles;
  bottom: 10.02%;
  right: 2.41%;
}
.container::after, 
.circle-1::after,
.circle-2::after,
.circle-3::after,
.circle-4::after,
.circle-5::after,
.circle-6::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

// Adds a paperlike texture to the screen.

html::after {
  background: url(../images/noise.jpg);
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.05;
  pointer-events: none;
  position: absolute;
  z-index: 201;
}